<!DOCTYPE html>
<html>
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
        <body>
            <div class="main-content">
            {{>header}}
            <img class="portrait" src="/images/174a5396-3b1e-488f-a014-c417c76f8e6a.jpg">
            </div>
            {{>footer}}
        </body>
    </head>
</html>